# OS
.DS_Store
Thumbs.db

# Éditeurs
.vscode/
.idea/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# Backend
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/messages.json
