# Copie ce fichier en ".env" (même dossier) et remplis les valeurs.
# Voir le README pour savoir comment obtenir un "mot de passe d'application" Gmail.
GMAIL_USER=bontetabala4@gmail.com
GMAIL_APP_PASSWORD=xxxx xxxx xxxx xxxx
